/*
           ▒ ▒ ▒
            ░▒░
            ███
          ▄██░██▄
       ▄███▒░▒░▒███▄  ███▄▄▄▄   ███   ▄██████▄  ███▄▄▄▄
      ███░▒░▒░▒░▒░███ ███▀▀▀██▄ ███  ███    ███ ███▀▀▀██▄
      ██░▒░▒░▒░▒░▒░██ ███   ███ ███▌ ███    ███ ███   ███       Version 1.0
      ██░▒░▒░▒░▒░▒░██ ███   ███ ███▌ ███    ███ ███   ███        2020-05-22
      ███░▒░▒░▒░▒░███ ███   ███ ███  ███    ███ ███   ███
       ▀███▒░▒░▒███▀  ███   ███ ███  ███    ███ ███   ███
         ▀██████▀      ▀█   █▀  █▀    ▀██████▀   ▀█   █▀
            /|\
                  ▀█████████▄ ███       ███    █▄  ▄████████▄    ▄█    █▄
                   ███    ███ ███       ███    ███ ███     ██   ███    ███
                   ███    ███ ███       ███    ███ ███    █▀    ███    ███
                  ▄███▄▄▄██▀  ███       ███    ███ ███         ▄███▄▄▄▄███
                 ▀▀███▀▀▀██▄  ███       ███    ███ ▀████████▄ ▀▀███▀▀▀▀███
                   ███    ██▄ ███       ███    ███        ███   ███    ███
                   ███    ███ ███▌    ▄ ███    ███  ▄█    ███   ███    ███
                  ▄█████████▀  █████▄██ ████████▀ ▄████████▀    ███    █▀
                               ▀
                 A warm daytime theme built upon the colour "Orange Samson".

                        Background:  #fef9f5  "Lavender Blush"
                        Text:        #130303  "Xiketic"
                        Links:       #ff7b00  "Orange Samson"
                        Hover:       #d64045  "English Vermillion"
                        Highlight:   #9a8f97  "Taupe Gray"
                        Subheds:     #ffa69e  "Vivid Tangerine"
*/
body, html {
    background: #fef9f5;
    margin: 0px;
    padding: 0px;
    border: 0px;
    font-family: 'Merriweather',
                 "Georgia",
                 "Times New Roman",
                 "Times",
                  serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    color: #130303;
}
pre {
    font-family: 'Fira Mono',
                  monospace;
    font-weight: 400;
}
code {
    font-family: 'Fira Mono',
                  monospace;
    font-weight: 400;
}
a {
    font-family: 'Merriweather Sans',
    sans-serif;
    color: #ff7b00;
    text-decoration: none;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 2px;
    background: #fef9f5;
}
a:hover {
    color: #130303;
    background: #d64045;
}
h1, h2, h3, h4 {
    color: #ffa69e;
    font-weight: normal;
    margin-bottom: 0px;
}
img {
    text-decoration: none !important;
    background: none !important;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
img a {
    text-decoration: none !important;
    background: none !important;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
input {
    border: 1px solid #130303;
}
.photo a {
    text-decoration: none !important;
    background: none !important;
    margin: 0px;
    border: 0px;
    padding: 0px;
}
.header {
    margin-bottom: 20px;
}
.wrapper {
    width: 520px;
    margin: auto;
}
.main {
    margin: 50px 0px;
}
.datetime {
    font-size: 12px;
    line-height: 150%;
    color: #ffa69e;
    position: relative;
    float: left;
    margin-left: -250px;
    padding-right: 25px;
    border-right: 1px solid #ffa69e;
    width: 200px;
    text-align: right;
    clear: both;
}
.navleft {
    font-size: 16px;
    position: relative;
    float: left;
}
.navright {
    font-size: 16px;
    position: relative;
    float: right;
}
.navcenter {
    font-size: 12px;
    text-align: center;
    width: 500px;
}
.datetime a {
    color: #ffa69e;
}
.post {
    padding-bottom: 30px;
}
.short_quote {
    margin: 0px;
    padding: 0px;
    font-size: 62px;
    line-height: 110%;
    color: #ffa69e;
}
.medium_quote {
    margin: 0px;
    padding: 0px;
    font-size: 36px;
    line-height: 115%;
    color: #ffa69e;
}
.long_quote {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 130%;
    color: #ffa69e;
}
a .notes {
    text-decoration: none !important;
    background: none;
    font-family: 'Fira Mono',
                  monospace;
    padding-left: 5px;
    padding-right: 2px;
}
.notes a {
    text-decoration: none !important;
    background: none;
    font-family: 'Fira Mono',
                  monospace;
    padding-left: 5px;
    padding-right: 2px;
}
img .notes {
    margin: 0px;
    padding: 3px;
    border: 1px solid #ffa69e;
}
.notes img {
    margin: 0px;
    padding: 3px;
    border: 1px solid #ffa69e;
}
.regular_post_body img {
    max-width: 100%;
}
.search_query {
    font-style: italic;
}

/* Styling some standard HTML tags in Light Mode.                   */
abbr {
border-bottom: 1px dotted #ffa69e;
}

del {
color: #ffa69e;
}

ins {
color: #ffa69e;
text-decoration: none;              /* Remove underlining. */
}

/* Code for Tag Cloud on /tags/ page */

.tag_cloud {
 text-align: center;
 line-height: 220%;
}

.tag_cloud a {
 margin-right: 10pt;
 padding-top: 4px;
 padding-bottom: 4px;
 padding-left: 6px;
 padding-right: 6px;
 font-family: 'Fira Mono',
               monospace;
 font-weight: 400;
}

/* Change text-selection colour to "Taupe Gray" from colour scheme.
This probably doesn't work in Internet Explorer, but that's okay.
The text selection colour is the same in Light and Dark Modes.
Source: https: //www.w3schools.com/cssref/sel_selection.asp        */
::selection {
 background: #9a8f97;
}
::-moz-selection {
 background: #9a8f97;             /* Firefox compatibility */
}